@media only screen and (max-width: 1280px) and (min-width: 320px)  {
    .sr-gdn-cont{
        flex-direction: column-reverse !important;
    }

    .sr-fields{
        display: block !important;
    }

    .sr-fields div input, .sr-fields div select, .sr-fields div textarea, .sr-fields div {
        width: 100% !important;
    }

    .sr-fields div {
        margin-right: 0 !important;
    }

    .sr-button-night{
        display: block  !important;
    }
    .sr-button-night button {
        margin-top: 2% !important;
        width: 100% !important;
    }
}

